@import "./variables";
@import "~bootstrap";

// Noto Sans JP [400, 500, 700, 900] from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');

$theme-colors: ( // color for bootstrap
);

* {
  font-family: "Noto Sans JP", sans-serif;
}

.pay-carousel {
  width: 100vw;
  height: 100%;
}
.VueCarousel-wrapper {
  height: 100%;
}
.VueCarousel-inner {
  height: 100% !important;
}
.VueCarousel-slide {
  width: 100%;
  padding: 8px 8px 0 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .slide-inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid #7B8A93;
    box-sizing: border-box;

    .pay-logo {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 100%;
        margin: 0 3rem;
      }
    }

    .pay-type-logo {
      display: block;
      height: 30%;
      color: #333;

      svg {
        height: 100%;
        max-height: 100px;
      }
    }
  }
}
.VueCarousel-dot-container {
  margin: 0 !important;
}
.VueCarousel-dot {
  padding: 8px !important;
  margin: 0 !important;
}

.st0{fill:currentColor;}

.stcredit0{fill:#FFFFFF;stroke:#7B8A93;stroke-miterlimit:10;}
.stcredit1{fill:#005198;}
.stcredit2{fill:#F6A800;}
.stcredit3{fill:#FCB131;}
.stcredit4{fill:#ED1B2E;}
.stcredit5{fill:#1B458F;}
.stcredit6{fill:#E9ECF3;}
.stcredit7{fill:#2088CD;}
.stcredit8{fill:#C0E4FF;}
.stcredit9{fill:#FF8A00;}
.stcredit10{fill:#006EB6;}
.stcredit11{fill:#E32E3F;}
.stcredit12{fill:#00956F;}
